.flex-container{
    display: flex;
    height: 100vh;
    background-color: blue;
    flex-direction: column;
}

.flex-cabecalho{
    display: flex;
    width: 100vw;
    background-color: mediumvioletred;
    padding: 5px;
    width: 100vw;
}

.flex-confeitaria{
    margin: 3px;
}

.flex-espaco{
    flex-grow: 1;
}

.flex-principal{
    display: flex;
    background-color: white;
    flex-grow: 1;
}

.flex-menuPrincipal{
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
    width: 200px;
    height: 100%;
    padding: 15px;
}

.menu{
    display: flex;
    width: 170;
}

.menu img{
    margin: 0px 10px;
    height: 17px;
    width: 17px;
}

.grid-bolos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}

.boloBonito{
    box-shadow:2px 2px 2px darkgray;
}

.boloBonito>img{
    height: 170px;
    width: 200px;
}

.boloBonito>h3{
    text-align: center;
}

.boloBonito>p{
    font-size: 12px;
    padding: 0px 10px;
    width: 180px;
    text-align: center;
}

.flex-rodape{
    width: 100vw;
    background-color: mediumvioletred;
    padding: 10px;
}

.flex-rodape>p{
    margin: 0px 500px;
}