*{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    height: 40px;
    width: 100vw;
    justify-content: space-between;
    background-color: peru;
    align-items: center;
}

header img{
    height: 20px;
    margin: 0 10px;
}

header .lupa:hover{
    opacity: 60%;
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.video img{
    height: 150px;
    width: 250px;
    border-radius: 5px;
}

.video img:hover{
    opacity: 65%;
}

.detalhes{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.detalhes video{
    width: 70%;
}

@media screen and (min-device-width: 801px){
    main{
        display: grid;
        width: 100vw;
        height: 88vh;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 20px;
        column-gap: 0;
        justify-content: space-around;
        align-items: center;
    }

    footer{
        display: flex;
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 100vw;
        background-color: peru;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:800px){
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }    

    footer{
        display: flex;
        height: 40px;
        width: 100vw;
        background-color: peru;
        justify-content: center;
        align-items: center;
    }

    .video{
        margin: 10px 0;
    }
}

@media screen and (max-device-width: 480px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around
    }    

    footer{
        display: flex;
        height: 40px;
        width: 100vw;
        background-color: peru;
        justify-content: center;
        align-items: center;
    }

    .video{
        margin: 10px 0;
    }
}